<div class="row">
    <div class="col-md-3">
        <h5 style="text-align: right;">{{key}}</h5>
    </div>
    <div class="col-md-9">
        {{#if useDropdown}}
            <select class="x-select" style="width:400px;">
                <option value="all">all</option>
                {{#each values}}
                    <option value=".{{../key}}-{{value}}">{{displayValue}}</option>
                {{/each}}
            </select>
        {{else}}
            <div class="btn btn-default filter" data-filter="all">Show all</div>
            {{#each values}}
                <div class="btn btn-default filter {{../key}}-{{value}}" data-filter=".{{../key}}-{{value}}">{{displayValue}}</div>
            {{/each}}
        {{/if}}
    </div>
</div>


