<div class="thumbnail" style="background-image:url(data:image/gif;base64,{{thumbnailPhoto}});"></div>
<p class="first-name">{{firstName}}</p><p>{{lastName}}</p>
<p class="title"><span class="department">{{department}} /</span> {{title}}</p>
